body {
      background: #000000;
      background: linear-gradient(186deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
      font-family: 'Segoe UI', sans-serif;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100vh;
      overflow: hidden;
  }
  
.barra-progreso {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
  background-color: #23252a;
  font-family: 'Segoe UI', sans-serif;
  border-bottom: 1px solid #353942;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.paso {
  padding: 10px 22px;
  border-radius: 999px;
  background-color: #353942;
  color: #aaa;
  font-weight: 600;
  font-size: 0.95em;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
}

.paso:hover {
  background-color: #1a2a40;
  color: #fff;
}

.paso.activo {
  background-color: #1a2a40;
  color: #fff;
  box-shadow: 0 0 8px rgba(255,255,255,0.3);
}

.flecha {
  color: #888;
  font-size: 1.2em;
}



.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0, 5%;
  box-sizing: border-box;
}

/* Simulación de imagen del coche */
#threeD-container {
  width: 70%;
  height: 70%;
  background-color: #181a1c;
  border-radius: 4%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#threeD-container canvas {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  background-color: #181a1c;
}


/* Panel lateral de botones */
.panel-personalizacion {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* Botón arriba a la izquierda */
.volver-container {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none; /* ← esto quita la raya */
}

.volver-container {
  padding: 10px 20px;
  background: #23252a;
  color: #f5f7fa;
  font-size: 0.98em;
  font-weight: 600;
  text-decoration: none;
  border-radius: 999px;
  border: 1px solid #353942;
  transition: background .18s, color .18s, border-color .18s;
}

.volver-container:hover {
  background: #1a2a40;
  filter: brightness(110%);
}

/*.siguiente {
  display: inline-block;
  padding: 10px 20px;
  background: #23252a;
  color: #f5f7fa;
  font-size: 0.98em;
  font-weight: 600;
  text-decoration: none;
  border-radius: 999px;
  border: 1px solid #353942;
  transition: background .18s, color .18s, border-color .18s;
  margin-right: -800px;
}*/

.etiqueta {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Segoe UI', sans-serif;
}

.boton-detalles:hover {
  background: #1a2a40;
  color: #ffffff;
}

.opcion {
  display: flex;
  align-items: center;
  gap: 12px; /* espacio entre botón y texto */
}

.botonera {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 16px;
  width: 300px;
  height: 260px;
  border-left: 2px solid #353942;
  background: #31323680;
  border-radius: 18px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
  padding: 230px 30px;
}

.botonera-ruedas {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-right: 30px;
  margin-left: 32px;
  width: 300px;
  height: 22.5%;
  border-left: 2px solid #353942;
  /*margin: 24px auto 0 auto;*/
  background: #31323680;
  border-radius: 18px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
  padding: 250px 30px;
}

/*COLOR AZUL */
.color1 {
  background: linear-gradient(145deg, #1B02E7, #3a3aff); /* azul metálico */
  box-shadow: inset 0 0 10px rgba(255,255,255,0.2), inset 0 -2px 4px rgba(0,0,0,0.4);
  transition: transform 0.2s, background-color 2s;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, background-color 2s;
}

/*COLOR ROJO */
.color2 {
  background: linear-gradient(145deg, #CC0000, #ff4d4d);
  box-shadow: inset 0 0 10px rgba(255,255,255,0.2), inset 0 -2px 4px rgba(0,0,0,0.4);
  transition: transform 0.2s, background-color 2s;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* COLOR VERDE */
.color3 {
  background: linear-gradient(145deg, #00E70A, #66ff66);
  box-shadow: inset 0 0 10px rgba(255,255,255,0.2), inset 0 -2px 4px rgba(0,0,0,0.4);
  transition: transform 0.2s, background-color 2s;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* RUEDA 1*/
.rueda1 {
  background-image: url('../public/images/rueda1.png'); /* ← aquí va la ruta */
  background-size: cover;       /* ajusta la imagen al botón */
  background-position: center;  /* centra la imagen */
  transition: transform 0.2s, background-color 2s;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  font-size: 14px;
  font-weight: bold;
  /*box-shadow: 0 4px 10px rgba(0,0,0,0.2);*/
  cursor: pointer;
}

/* RUEDA 2*/
.rueda2 {
  background-image: url('../public/images/rueda2.png'); /* ← aquí va la ruta */
  background-size: cover;       /* ajusta la imagen al botón */
  background-position: center;  /* centra la imagen */
  transition: transform 0.2s, background-color 2s;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  font-size: 14px;
  font-weight: bold;
  /*box-shadow: 0 4px 10px rgba(0,0,0,0.2);*/
  cursor: pointer;
  margin-top: 32px;
}

.color1:hover,
.color2:hover,
.color3:hover {
  outline: 2px solid #ffffff;
  outline-offset: 4px;
}

/* .footer-financiero{
  background: #31323680;
  border-radius: 18px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
  padding: 50px 500px;
  margin-bottom: 2px;
  border-top: 1px solid #353942;
  color: #f5f7fa;
  font-family: 'Segoe UI', sans-serif;
}*/

.border{
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: #ffffff00;
  z-index: 0;
}

.border:hover{
  background-color: white;
}

.boton:hover {
  background-color: #15171b;
  transform: scale(1.05);
}

.footer-financiero {
  background: #31323680;
  border-radius: 18px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
  padding: 20px 5%;
  border-top: 2px solid #353942;
  color: #f5f7fa;
  font-family: 'Segoe UI', sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.info-financiera {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-left: 15%;
}

.dato {
  display: flex;
  flex-direction: column;
}

.valor {
  font-size: 1.4em;
  font-weight: 600;
  color: #ffffff;
}

.siguiente {
  display: inline-block;
  padding: 10px 20px;
  background: #23252a;
  color: #f5f7fa;
  font-size: 0.98em;
  font-weight: 600;
  text-decoration: none;
  border-radius: 999px;
  border: 1px solid #353942;
  transition: background .18s, color .18s, border-color .18s;
 } 
 .siguiente:hover { 
  background: #1a2a40; 
  color: #ffffff; 
}
